.category{
    color: rgb(7, 7, 121);
}

.left{
    float: left;
}

.right{
    padding-left: 250px;
}

a{
    text-decoration: none !important;
    font-weight: bold;
}

.time{
    color: gray;
}

.content{
    color: grey;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    color: black;
    font-style: 30px;
}

.img1{
    width: 150x;
    height: 150px;
}